:root {
    --primary-bg: #121212;
    --secondary-bg: #242323;
    --primary-color: #8715d4;
    --secondary-color: #8349e6;
    --txt-color: #f0f0f0;
    --danger: #e32817;
    --txt-lg: 36px;
    --txt-md: 20px;
    --txt-nm: 16px;
    --txt-p: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Geneva, "Lucida Grande", Tahoma, sans-serif;
    color: var(--txt-color);
    /*border: 1px solid white;*/
}

body {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    background-color: var(--primary-bg);
    font-size: var(--txt-p);
}

p {
    font-size: var(---txt-p);
}

main,
nav,
footer {
    padding: 20px 20px;
}

main {
    height: 100%;
}

nav * {
    font-size: var(--txt-nm);
}

button {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary-bg);
}

input {
    outline: none;
    border: none;
    padding: 8px 10px;
    border: 2px solid var(---primary-color);
    border-radius: 4px;
    background-color: var(--secondary-bg-bg);
}

input:focus {
    border: 2px solid var(--secondary-bg);
}

.txt-lg {
    font-size: var(--txt-lg);
}
.txt-md {
    font-size: var(--txt-md);
}
.txt-nm {
    font-size: var(--txt-nm);
}
.txt-p {
    font-size: var(--txt-p);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.user-initials {
    background-color: var(--primary-color);
    font-weight: bolder;
    text-transform: uppercase;
    min-width: 30px;
    padding: 8px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.mid-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 99;
}

.modal {
    min-width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
}

.modalWrapper {
    padding: 30px 30px;
}

.nav-left a {
    text-decoration: none;
    color: var(--txt-color);
}

#nav-logo {
    width: 30px;
    height: 30px;
}
