.two-cols {
    gap: 20px;
    justify-content: space-between;
}

.two-cols > div {
    flex: 1;
}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 25px;
}

.home-main-btns {
    justify-content: space-evenly;
    gap: 10px;
}

/*AUTHENTICATION*/

#auth-main-left {
    padding: 20px 40px;
    align-items: stretch;
    gap: 20px;
}

.tabs {
    border-radius: 50px;
}

.tab {
    padding: 10px 15px;
    background-color: black;
}

.tab:hover {
    cursor: pointer;
    background-color: var(--secondary-bg);
}

.field {
    gap: 8px;
}

#signup-tab {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#signin-tab {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#signup-tab.active,
#signin-tab.active {
    background-color: var(--secondary-bg);
}

#signup-tab-content {
    display: none;
}

/*ROOMS PAGE*/

#nav-meet-code {
    background-color: var(--secondary-bg);
    border-radius: 30px;
    border: 1px solid var(--primary-bg);
    padding: 8px 16px;
}

.leave-call-btn,
.share-link-btn {
    padding: 10px 16px;
    border-radius: 30px;
}

.leave-call-btn {
    background-color: var(--danger);
}

.share-link-btn {
    background-color: var(--secondary-bg);
}

.share-link-btn:hover,
.leave-call-btn:hover {
    cursor: pointer;
    font-weight: bolder;
}
